/* Barra lateral */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #06373e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #002bec;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
    color: #b3f3fc;
}

/* Submenú */
.sub-menu a {
    padding-left: 40px;
    font-size: 1em;
}

/* Icono del menú */
.menu-icon-container {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.menu-icon {
    font-size: 1.8em;
    color: #fff;
    margin-right: 15px;
}

/* Encabezado */
header {
    background-color: #0059b3;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
}

.admin {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

/* Contenido principal */
.main-content {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.notificaciones, .resumen {
    width: 45%;
    background-color: #00bcd4;
    padding: 10px;
    color: #fff;
    border: 2px solid #007f9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notificaciones h2, .resumen h2 {
    text-align: center;
    background-color: #008ca1;
    padding: 10px;
    margin-top: 0;
    color: #fff;
    border-bottom: 2px solid #005f6e;
}

/* Gráfico */
.grafico ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grafico ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 0.9em;
}

.month {
    width: 100px; /* Asegura suficiente espacio para los nombres de los meses */
    font-weight: bold;
    color: #004a5c;
    margin-right: 10px;
    text-align: right;
}

/* Barra ajustada para alinearse a la izquierda */
.bar {
    background-color: #00e5ff;
    height: 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding-right: 5px;
    text-align: right;
    display: inline-block; /* Cambié a inline-block para que respete el ancho proporcionado */
    line-height: 20px;
}